<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NhaHang</title>
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/NhaHang.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light navbar-custom mb-0">
            <div class="container-fluid d-flex justify-content-center position-relative">

                <a class="navbar-brand nhahang-brand"
                   asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo-wrapper">
                        <img src="~/image/logo.jpg" alt="Logo" class="logo-img" />
                    </div>
                </a>

                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse d-flex justify-content-between w-100">


                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="NhanVienBep" asp-action="Index">Danh Sách Món Ăn</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ms-auto">
                        <li class="nav-items">
                            <form asp-area="" asp-controller="Search" asp-action="Index" method="get" class="search-box">
                                <button type="submit" class="search-button">
                                    <i class="fas fa-search"></i>
                                </button>
                                <input type="text" name="query" placeholder="Tìm kiếm..." class="search-input" />

                            </form>
                        </li>

                        <li class="nav-items">
                            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>

                        <li class="nav-items">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") != null)
                            {
                                var userImage = HttpContextAccessor.HttpContext.Session.GetString("UserImage");

                                if (!string.IsNullOrEmpty(userImage))
                                {
                                    <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
                                        <img src="@userImage" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;" />
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
                                        <i class="fa-regular fa-circle-user"></i>
                                    </a>
                                }
                            }
                            else
                            {
                                <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Login">
                                    <i class="fa-regular fa-circle-user"></i>
                                </a>
                            }
                        </li>


                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>