@{
    ViewData["Title"] = "Trang Nhân Viên Phục Vụ";
}
<link rel="stylesheet" href="~/css/NhanVienPhucVu/NhanVienPhucVu.css" />

<div class="nhanvienphucvu-container">
    <h2>Chào mừng bạn là nhân viên  </h2>

</div>
