@{
    ViewData["Title"] = "Home Page";

}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to my Restaurant</h1>
    </div>
</body>
