/* Nền gradient */
body {
    color: white;
    font-family: 'Montserrat', sans-serif; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Trung tâm của trang */
.text-center {
    text-align: center;
    padding: 30px;
}

/* Tiêu đề h1 */
h1.display-4 {
    font-size: 4rem; 
    font-family: 'Great Vibes', cursive; 
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px; 
}

/* Đoạn văn */
p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat', sans-serif; 
    margin-top: 0;
    margin-bottom: 20px;
}
