@{
    ViewData["Title"] = "Trang Nhân Viên Bếp ";
}
<link rel="stylesheet" href="~/css/NhanVienBep/NhanVienBep.css" />

<div class="nhanvienbep-container">
    <h2>Chào mừng bạn là nhân viên bếp </h2>
</div>
